<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>



    <!-- navbar -->
    {% include 'includes/navbar.html' %}
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-md-3 mt-5">
                <div class="card" style="width: 16rem;">


                    <!-- {% if post.image %} -->
                    <!-- <img src="{{ post.image.url}}" class="card-img-top img-fluid" alt="..."> -->
                    <!-- {% else %} -->
                    <!-- <img src="https://picsum.photos/200/300" class="card-img-top img-fluid" alt="..."> -->
                    <!-- {% endif %} -->
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.body|truncatechars:30 }}</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}

            <div>
                <span>
                  {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Previous</a>
                  {% endif %}
                  <span>
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                  </span>
                  {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                  {% endif %}
                </span>
              </div>
          
              

        </div>
    </div>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>